:root {
    --hue-1: 0;
    --hue-2: 230;
    --main-color: hsl(var(--hue-2), 74%, 23%);
    --main-color2: hsl(var(--hue-1), 100%, 50%);
    --btn-hover: hsl(var(--hue-2), 50%, 53%);
    --body-bg-color: hsl(var(--hue-1), 0%, 100%, .88);
    --nav-color: hsl(0, 0%, 100%, .95);
    --img-logo: url("../img/light-logo.png");
    --bg-color: rgb(51,51,51);
    --bg-gradient-color: linear-gradient(0deg, hsla(0, 0%, 100%, .80) 0%, hsla(0, 0%, 100%, 1) 35%, hsla(0, 0%, 100%, .97) 100%);
    /* --body-bg-color: hsl(var(--hue-1), 0%, 0%, .5); */
    --border-color2:  hsl(var(--hue-2), 40%, 90%);
    --shadow:  0 0 10px hsl(var(--hue-2), 40%, 90%);
    --shadow-outer: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --btn-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --cat-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --csh-hover: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    --sale-bgr: #000000 linear-gradient(hsl(0, 0%, 20%), hsl(0, 0%, 30%, .5));
    --filter: invert(0) grayscale(100);
    --body-bg-gr1: hsl(var(--hue-1), 100%, 50%, .2);
    --body-bg-gr2:  sl(var(--hue-2), 100%, 50%, .2);
    --decoration-bg1:  hsl(var(--hue-1), 100%, 70%);
    --decoration-bg1:  hsl(var(--hue-2), 100%, 70%);
    --bg-gift: hsl(0, 0%, 0%, .55);
    --gradient-gift:  linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(75,75,72,1) 35%, rgba(141,141,141,1) 100%);
    /* general */
    --blue: hsl(229, 80%, 50%, .95);
    --blue-mad: #1B0F65;
    --white: hsl(0, 0%, 100%);
    --WHITE: hsl(0, 0%, 100%);
    --BLACK: hsl(0, 0%, 0%);
    --black-high: hsl(0, 0%, 10%);
    --black-med: hsl(0, 0%, 30%);
    --black-alpha: hsla(0, 0%, 0%, .4);
    --brown-mode: #7a7a7a;
    --gray: #eee;
    --yellow-light: hsl(44, 95%, 83%);
    --green-light: hsl(158, 68%, 75%);
    --red-light: hsl(0, 84%, 80%);
    --orange-light: hsl(22, 85%, 80%);
    --select-bg: hsl(0, 0%, 100%);
    --border-color1: hsl(var(--hue-1), 0%, 0%, .1);
    --border-color2: hsl(var(--hue-2), 0%, 90%);
    --white-icon: hsl(0, 0%, 0%);
    --search-color: hsl(0, 0%, 41%);
    --nav-drop: hsl(229, 80%, 50%, .50);
    /* Carousel */
    --carousel-in: #000000;
    --btn-coll-border: 1px solid #ffffff;
    --footer-border: 1.1px solid #000000;
}

body.dark {
    --body-bg-color: hsl(var(--hue-1), 0%, 0%, .97);
    --nav-color: hsl(0, 0%, 0%, .80);
    --filter: invert(0) grayscale(0);
    --main-color: #242526;
    --shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    --shadow-outer: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    --btn-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
    --cat-shadow: rgba(197, 197, 197, 0.1) 0px 4px 6px -1px, rgba(255, 255, 255, 0.06) 0px 2px 4px -1px;
    --csh-hover: rgba(255, 255, 255, 0.45) 0px 25px 20px -20px;
    --sale-bgr: #ffffff linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 30%, .5));
    --WHITE: #242526;
    --white: #242526;
    --white-icon: hsl(0, 0%, 100%);
    --search-color: #242526;
    --black-high: hsl(0, 0%, 100%);
    --black-med: #ffffff;
    --brown-mode: #4b4b48;
    --img-logo: url("../img/dark-logo.png");
    --bg-gradient-color: linear-gradient(0deg, hsla(0, 0%, 0%, .95) 0%, hsla(0, 0%, 0%, 1) 35%, hsla(0, 0%, 0%, 1) 100%);
    --carousel-in: #ffffff;
    --bg-gift: hsla(0, 0%, 100%, .70);
    --nav-drop: rgba(153, 122, 255, 0.5);
    --gradient-gift: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 35%, rgba(205,205,205,1) 100%);
    --btn-coll-border: 1px solid #ffffff;
    --footer-border: 2px solid #ffffff;
}